@import url('https://fonts.googleapis.com/css2? family= Shadows+Into+Light & display=swap');
body {
    font-family: 'Shadows Into Light', cursiva;
    text-align: center;
    background: rgb(192, 162, 250);
}
.capa {
    width: 60%;
}

.beneficios {
    text-align: left;
    background-color: blueviolet;
}
ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 200px;
}
li{
    padding: 25px;
    font-size: 20px;
}
.foto-beneficios {
    width: 40%;
}